---
import BaseLayout from './src/layouts/BaseLayout.astro'

const pageTitle = "Blog Posts";
---

<BaseLayout pageTitle={pageTitle}>
  
	<li>Post 1</li>
	<li>Post 2</li>
	<li>Post 3</li>

	</BaseLayout>