---
import BaseLayout from './src/layouts/BaseLayout.astro'

const pageTitle = "⭐ My Website ⭐";

---

<BaseLayout pageTitle={pageTitle}>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur odit asperiores minus exercitationem dicta. Aliquam repudiandae quia nisi modi accusantium velit, dolorum ex. Totam sequi, quo ex praesentium pariatur laboriosam!</p>

</BaseLayout>